.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 800px;
    padding-left: 10px;
    margin: 50px auto;
    background-color: rgb(241, 4, 67);
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.50);
}