.pokemon-cell {
  margin: 8px;
  width: 400px;
  height: 120px;
  border: none;
  border-radius: 8px;
  background-color: white;
  background-repeat: no-repeat;
  box-shadow: 0 6px rgb(131, 131, 131);
  cursor: pointer;
}
.pokemon-cell:hover {
  background-color: rgb(213, 213, 213);
}

.pokemon-cell:active {
  transform: translateY(4px);
  box-shadow: 0 3px rgb(85, 85, 85);
}

.pokemon-cell img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .pokemon-cell {
    width: 120px;
    height: 120px;
  }
}
